html{
    background-color: #E3FDFD;
    font-size: 20px;
    font-family: 'Acme', sans-serif;
    font-family: 'Caveat', cursive;
    }
h1{
    font-family: 'Kalam', cursive;
}

h2{
    font-family: 'Kalam', cursive;
    background-color: #A6E3E9;
}    


